@media (max-width: 900px) {
    
   li{
    list-style: none;
   }a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
   }
    
    .mobile {
        text-align: center;
        margin: 50px auto;
        max-width: 600px;
      }
      
      .navbar_mobile {
        display: flex;
        justify-content: flex-end;
      }
      
      .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 20px;
        padding: 10px;
      }
      @keyframes slide {
        
            from{transform: translateX(-100%);}
            to{transform: translateX(0%);}

      }
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #121313;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: 2s slide;
        animation-direction: reverse;
        animation-iteration-count: 1;
        animation-direction: alternate;


      }

      
      .modal-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        background-color: #1A1B1B;
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        animation: 2s;
        animation: alternate-reverse;
        animation-iteration-count: 1;
        animation-direction: alternate-reverse;
        color: #fff;

        .hambur{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #A457F7;
            gap: 30px;
           
        }
      }
      @keyframes close {
        from{transform: translateX(0);}
        to{transform: translateX(-100%);}
      }
      .close {
        
        position: relative;
        left: 300px;
        top: -170px;
        color: #fff;
        border: 2px solid #A457F7;
        border-radius: 50%;
        background-color: #1A1B1B;
        cursor: pointer;
        font-size: 30px;
       font-weight: bold;
     
      }
      
      #menu_burger{
        font-size: 30px;
        color: #fff;
      }





    // *{
    //   border: 1px solid red;
    // }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        height: 70px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background: #121313;
        border-bottom: 2px solid #1A1B1B;
        gap: 30px;
}
    .navbar-container .menu {
        display: none;
    }
    .navbar-container .nav_btn_container {
        display: none;
    }
    .our_mission .down .engaged_text{
        span{
            font-size: 22px;
        }
    }
    .footer-cont{
        flex-direction: column;
    }
    .our_mission_text{
        flex-direction: column;
    }
    .message-cont .message-texts .from :nth-child{
        font-size: 22px;
    }
    .empowering_cont h1 span{
        font-size: 22px;
        text-align: center;
    }  
 
    .empowering_cont h1 {
        font-size: 22px;
        text-align: center;
        padding: 20px;
}
.empowering_cont p {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}
.about_us_cont .about-text {
    span{font-size: 22px;}
}
.about_us_cont p {
    text-wrap: wrap;
    text-align: left;
    padding: 30px;
    font-size: 12px;
    text-align: center;
}
.message-cont .message-texts .ceo :nth-child(1){font-size: 22px;}
.message-cont .message-texts .ceo :nth-child(2){font-size: 22px;}
.message-cont .message-texts .ceo :nth-child(3){font-size: 22px;}
.message-cont .message-texts .from :nth-child(4){font-size: 22px;}
.message-cont .message-texts .from :nth-child(3){font-size: 22px;}
.message-cont .message-texts .from :nth-child(2){font-size: 22px;}
.message-cont .message-texts .from :nth-child(1){font-size: 22px;}
.message-cont .message-texts .message :nth-child(7){font-size: 22px;}
.message-cont .message-texts .message :nth-child(6){font-size: 22px;}
.message-cont .message-texts .message :nth-child(5){font-size: 22px;}
.message-cont .message-texts .message :nth-child(4){font-size: 22px;}
.message-cont .message-texts .message :nth-child(3){font-size: 22px;}
.message-cont .message-texts .message :nth-child(2){font-size: 22px;}
.message-cont .message-texts .message :nth-child(1){font-size: 22px;}

.message-cont p {
    font-size: 12px;
    padding: 20px;
    text-align: center;
}
.our_mission .upper .our_mission_text .text_btn_mission p{font-size: 12px; text-align: center; text-wrap: wrap;}
.message-cont{
    width: auto;
    padding: 5px;
}
.our_mission_h1{
    display: flex;
    justify-content: center;
    span{
        font-size: 22px;
    }
}
.footer_border .footer-cont .connect{text-align: center; font-size: 16px;}
.our_mission .upper .our_mission_text {
    padding: 10px;
    text-align: center;
}
.footer_border .footer-cont .resources{font-size: 16px;
    text-align: center;
    padding: 20px;
}
.our_mission {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.our_mission .down .engaged_text{width: auto;}

.footer_border .footer-cont{
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.mail{font-size: 12px;align-items: center;justify-content: center;}
.footer_border .footer-cont .get_in_touch .social_media{
    justify-content: center;
    padding: 10px;
}
.footer_border .footer-cont .get_in_touch{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_border .footer-cont .geeks{
    width: auto;
    text-align: center;
}
.down{
    display: flex;
    width: 100%;
}
.hamburger_menu_mobile{
    display: flex;
}



.footer_border .footer-cont .geeks p{font-size: 12px; padding: 20px;}
  }
p{text-align:justify;}